/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--Headlines: 'Krona One', sans-serif;
	--Paragraph: 'Lato', sans-serif;
	--principalColor: #98CA3F;
	--secondaryColor: #121F3D;
	--secondaryVariationColor: #03091E;
	--grayDarkColor: #444444;
	--grayLightColor: #FCFCFC;
	font-size: 62.5%;
}
body{
	font-family: var(--Paragraph);
	max-width: 100%;
	min-width: 320px;
}
.container {
	max-width: 1278px;
	margin: auto;
}
.header__background--multiply{
    height: 65px;
    width: 100%;
    background-color: var(--principalColor);
    mix-blend-mode: multiply;
    position: fixed;
    z-index: 5;
}
.header {
	/*  background-color: var(--principalColor);*/
	/* mix-blend-mode: multiply;*/
	width: 100%;
	height: 65px;
	position: fixed;
	z-index: 99;
	-webkit-box-shadow: rgb(0 0 0 / 25%) 0px 4px 10px 0px;
	        box-shadow: rgb(0 0 0 / 25%) 0px 4px 10px 0px;
}
.header .container{
	padding: 0 30px;
}
.header .header__logo {
	height: 40px;
	width: 40px;
	margin-top: calc((65px - 40px)/2);
	fill: var(--grayLightColor);
	position: relative;
	z-index: 99;
}
.hashtag{
	font-family: var(--Headlines);
	color: var(--principalColor);
	font-size: 1.6rem;
	font-weight: 400;

}
.footer{
	background-color: var(--secondaryVariationColor);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 120px;
	padding: 50px 0;
}
.footer .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 30px;
}
.footer svg{
	fill: var(--grayLightColor);
	max-width: 280px;
	width: 100%;
	height: 23px;
	
}
.footer__love{
	padding: 30px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__love h4{
	color: var(--grayLightColor);
	font-weight: 400;
	font-size: 2rem;	
	margin-right: 10px;
}
.footer__love img{
	height: 22px;
}
.footer__copyright{
	color: var(--grayLightColor);
	font-weight: 300;
	font-size: 1.6rem;
	text-align: center;
}
@media screen and (max-width: 1300px) {
    .container{
        max-width: 1078px;
    }
    
}