/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media screen and (max-width: 1370px) {
    .hero .hero__logo{
        max-width: 480px;
    }
    .hero__platziCredits{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .hero__text h1, .features__container--anchor span{
        font-size: 2.35rem;
    }
    .hero__principalButton{
        font-size: 3rem;
    }
    .hero__principalButton svg {
        width: 50px;
        height: 45px;
    }
}
@media screen and (max-width: 1281px) and (max-height:661px) and (orientation: landscape) {
    .header__background--multiply, .header{
        height: 50px;
    }
    .header .header__logo{
        height: 35px;
        width: 35px;
        margin-top: calc((50px - 35px)/2);
    }
    .hero .hero__logo{
        max-width: 380px;
        height: 102px;
        margin-top: 80px;
    }
    .hero__platziCredits h3{
        font-size: 2.5rem;
    }
    .hero__platziCredits{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .hero__platziCredits svg{
        height: 30px;
        width: 94px;
    }
    .hero__text h1, .features__container--anchor span{
        font-size: 2.2rem;
        max-width: 780px;
        margin-bottom: 15px;
    }
    .hero__date--countdown{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .countdown__counter h2, .countdown__twoPoints h2{
        font-size: 3rem;
    }
    .countdown__counter span{
        font-size: 1.7rem;
    }
    .hero__date, .hero__date--background--color, .hero__date--background--multiply{
        height: 165px;
    }
}
@media screen and (max-width: 1300px){
    .hero__text h1{
        max-width: 780px;
    }
    .countdown__counter h2, .countdown__twoPoints h2{
        font-size: 3rem;
    }
    .countdown__counter span {
        font-size: 1.75rem;
    }
    .hero__date, .hero__date--background--color, .hero__date--background--multiply{
        height: 187px;
    }
    .main{
        padding-top: 72px;
    }
    .features__headline h2, .codeConduct__headline h2, .sponsors__headline h2{
        font-size: 3rem;
    }
    .features__headline hr, .codeConduct__headline hr, .sponsors__headline hr{
        height: 5px;
    }
    
}
@media screen and (max-width: 1155px){
    .hero .hero__logo{
        max-width: 440px;
        max-height: 120px;
    }
    .hero__platziCredits h3{
        font-size: 2.5rem;
    }
    .hero__platziCredits svg{
        height: 32px;
        width: 100px;
    }
    .dataReminder{
        padding:20px;
        gap: 15px
    }
    .dataReminder h4{
        font-size: 1.9rem;
    }
    .dataReminder__button{
        font-size: 1.8rem;
        padding: 13px 15px;
    }
}
@media screen and (max-width: 1025px) and (max-height:1366px) and (orientation: portrait){
    .hero__text{
        margin-top: 30px;
    }
    .codeConduct__container p{
        max-width: 800px;
    }
}
@media screen and (max-width: 856px){
    .hero, .hero__date, .hero__date--background--color, .hero__date--background--multiply{
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
    }
    .hero__date--countdown{
        max-width: 540px;
    }
    .features__headline h2, .codeConduct__headline h2, .sponsors__headline h2{
        font-size: 2.75rem;
    }
    .features__headline hr, .codeConduct__headline hr, .sponsors__headline hr{
        height: 4px;
    }
    .hero__principalButton{
        font-size: 2.75rem;
    }
    .hero__text h1, .codeConduct__container p {
        font-size: 2.2rem;
        max-width: 650px;
        line-height: calc(2.2rem + 10%);
    }
    .features__container--anchor span{
        font-size: 2.2rem;
    }
    .features__container{
        gap: 10px;
        padding: 0px 10px;
    }
}
@media screen and (max-width: 600px){
    .header .container{
        padding: 0 20px;
    }
    .hero .hero__logo{
        max-width: 330px;
        max-height: 95px;
    }
    
    .hero__platziCredits h3{
        font-size: 2rem;
    }
    .hero__platziCredits svg {
        height: 26px;
        width: 88px;
    }
    .hero__platziCredits{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .hero, .hero__date, .hero__date--background--color, .hero__date--background--multiply {
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .hero__text h1, .codeConduct__container p{
        font-size: 2rem;
        max-width: 440px;
        line-height: calc(2rem + 10%);
    }
    .hero__date--countdown{
        max-width: 480px;
        padding: 0px 20px;
    }
    .hero__principalButton{
        font-size: 2.65rem;
    }
    .hero__principalButton svg {
        width: 38px;
        height: 38px;
    }
    .features__container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0px 25px;
    }
    .features__container--anchor:nth-child(1){
        border-radius: 0;
        border-top-right-radius: 40px;
    }
    .features__container--anchor:nth-child(3){
        border-radius: 0;
        border-bottom-left-radius: 40px;
    }
    .features__headline {
        margin: 0px 25px;
    }
    .features__headline h2, .codeConduct__headline h2, .sponsors__headline h2{
        font-size: 2.5rem;
    }
    .codeConduct__button{
        font-size: 1.6rem;
    }
    .dataReminder{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px 40px;
        gap: 5px;
    }
    .dataReminder hr{
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    .dataReminder__button{
        font-size: 1.9rem;
        padding: 20px;
    }
}
@media screen and (max-width: 450px){
    .hero__text h1, .codeConduct__container p {
        font-size: 1.8rem;
        line-height: calc(1.8rem + 20%);
    }
    .hero__date--description{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0px 20px;
    }
    .hero__date--description svg{
        margin-right:0 ;
        margin-bottom: 10px;
    }
    .hero__buttonContainer{
        margin: 0px 15px;
    }
    .countdown__counter span{
        font-size: 1.45rem;
    }
    .countdown__counter h2, .countdown__twoPoints h2{
        font-size: 2.35rem;
    }
    .hero__principalButton{
        padding: 10px 20px;
        font-size: 2.5rem;
    }
    .hero__date, .hero__date--background--color, .hero__date--background--multiply{
        height: 225px;
    }
    .features__headline {
        margin: 0px 20px;
    }
    .features__headline h2, .codeConduct__headline h2, .sponsors__headline h2{
        font-size: 2.35rem;
    }
    .dataReminder{
        padding: 20px ;
    }
    .hero{
        min-height: 89vh;
        height: auto;
    }
    .hero .hero__logo{
        margin-top: 70px;
    }
}
@media screen and (max-width: 385px){
    .hero__text{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .hero__principalButton{
        padding: 10px;
        font-size: 2rem;
    }
    .hero__principalButton svg{
        width: 31px;
        height: 27px;
    }
    .main{
        padding-top: 58px;
    }
    .dataReminder{
        padding: 14px;
    }
    .dataReminder__button{
        font-size: 1.7rem;
        padding: 14px;
    }
}
@media screen and (max-width: 360px){
    .hero, .hero__date, .hero__date--background--color, .hero__date--background--multiply{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        min-width: 320px;
    }
    .dataReminder__date, .dataReminder__location, .dataReminder__button{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    
}