/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media screen and (max-width: 1370px){
    .hero__title h1{
        font-size: 3rem;
    }
}
@media screen and (max-width: 1155px){
    .card__title h3{
        font-size: 2.15rem;
    }
    .card__paragraph p, .card__distance h5{
        font-size: 1.7rem;
    }
    .card__button a{
        font-size: 1.9rem;
    }
    .card__button a svg{
        width: 21px;
        height: 21px;
    }
}
@media screen and (max-width: 856px){
    .header__background--multiply, .header{
        height: 50px;
    }
    .header .header__logo{
        height: 35px;
        width: 35px;
        margin-top: calc((50px - 35px)/2);
    }
    .hero{
        height: 35vh;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
    }
    .hero__title h1{
        font-size: 2.75rem;
    }
    .hero__title hr{
        height: 5px;
    }
    
}
@media screen and (max-width: 600px){
    .hero{
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .hotel{
        margin-top: 30px;
    }

    .principalButton{
        font-size: 1.8rem;
    }
    .principalButton svg{
        width: 22.5px;
        height: 22px;
    }

    .footer{
        margin-top: 40px;
    }
}
@media screen and (max-width: 450px){
    .hero{
        min-height: 45vh;
        height: auto;
    }
}
@media screen and (max-width: 360px){
    .hero{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .hero__title h1{
        font-size: 2.5rem;
    }
    .hero__title hr{
        height: 4px;
    }
    .footer{
        margin-top: 30px;
    }
}