*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Headlines: font-family: 'Krona One', sans-serif;
    --Paragraph: font-family: 'Lato', sans-serif;

    --principalColor: #98CA3F;
    --secondaryColor: #121F3D;
    --secondaryVariationColor: #03091E;
    --grayDarkColor: #444444;
    --grayLightColor: #FCFCFC;

    font-size: 62.5%;
    
}

.container{
    max-width: 1278px;
    margin: auto;
}

.header{
    background-color: var(--principalColor);
    mix-blend-mode: multiply;
    width: 100%;
    height: 65px;
    
}

.header .header__logo{
    height: 40px;    
    width: 40px;
    fill: var(--secondaryColor);
    margin-top: calc((65px - 40px)/2);
    fill: var(--grayLightColor);
}
