/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--Headlines: 'Krona One', sans-serif;
	--Paragraph: 'Lato', sans-serif;
	--principalColor: #98CA3F;
	--secondaryColor: #121F3D;
	--secondaryVariationColor: #03091E;
	--grayDarkColor: #444444;
	--grayLightColor: #FCFCFC;
	font-size: 62.5%;
}
body{
	font-family: var(--Paragraph);
	min-width: 320px;
	overflow-x: hidden;
}
.container {
	max-width: 1278px;
	margin: auto;
}
.header__background--multiply{
    height: 65px;
    width: 100%;
    background-color: var(--principalColor);
    mix-blend-mode: multiply;
    position: fixed;
    z-index: 5;
}
.header {
	/*  background-color: var(--principalColor);*/
	/* mix-blend-mode: multiply;*/
	width: 100%;
	height: 65px;
	position: fixed;
	z-index: 99;
	-webkit-box-shadow: rgb(0 0 0 / 25%) 0px 4px 10px 0px;
	        box-shadow: rgb(0 0 0 / 25%) 0px 4px 10px 0px;
}
.header .container{
	padding: 0 30px;
}
.header .header__logo {
	height: 40px;
	width: 40px;
	margin-top: calc((65px - 40px)/2);
	fill: var(--grayLightColor);
	position: relative;
	z-index: 99;
}
.hashtag{
	font-family: var(--Headlines);
	color: var(--principalColor);
	font-size: 1.6rem;
	font-weight: 400;

}
.footer{
	background-color: var(--secondaryVariationColor);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 120px;
	padding: 50px 0;
}
.footer .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 30px;
}
.footer svg{
	fill: var(--grayLightColor);
	max-width: 280px;
	width: 100%;
	height: 23px;
	
}
.footer__love{
	padding: 30px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__love h4{
	color: var(--grayLightColor);
	font-weight: 400;
	font-size: 2rem;	
	margin-right: 10px;
}
.footer__love img{
	height: 22px;
}
.footer__copyright{
	color: var(--grayLightColor);
	font-weight: 300;
	font-size: 1.6rem;
	text-align: center;
}

@media screen and (max-width: 1300px) {
    .container{
        max-width: 1078px;
    }
}

@media screen and (max-width: 600px){
    .header .container{
        padding: 0 20px;
    }
}

/*Animations*/
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100px, 0, 0);
		transform: translate3d(-100px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100px, 0, 0);
		transform: translate3d(-100px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100px, 0, 0);
		transform: translate3d(100px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100px, 0, 0);
		transform: translate3d(100px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100px, 0);
		transform: translate3d(0, 100px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100px, 0);
		transform: translate3d(0, 100px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}
@-webkit-keyframes scaleUp {
	from {
		opacity: 0;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scaleUp {
	from {
		opacity: 0;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.fadeInLeft {
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}
.fadeInRight {
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;	
}
.fadeInUp {
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;	
}
.fadeInUpCubic {
	-webkit-animation-duration: 1.4s;
	        animation-duration: 1.4s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	        animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);	
}
.fadeInDown{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}
.fadeIn{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;	
}
.scaleUp {
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-name: scaleUp;
	animation-name: scaleUp;
	-webkit-animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	        animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);	
}
.delay1{
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
}
.delay2{
	-webkit-animation-delay: 500ms;
	        animation-delay: 500ms;
}
.delay3{
	-webkit-animation-delay: 1000ms;
	        animation-delay: 1000ms;
}
.delay4{
	-webkit-animation-delay: 1500ms;
	        animation-delay: 1500ms;
}

